<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to - MovieCones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('web.home') }}">Home</a></li>
            <li><a href="{{ url_for('web.movies') }}">Movies</a></li>
            <li><a href="{{ url_for('swagger_ui') }}">API Documentation</a></li>
            <li><a href="{{ url_for('web.register') }}">Register</a></li>
            <li><a href="{{ url_for('web.login') }}">Login</a></li>
        </ul>
    </nav>
    <div class="container">
      <h1>Welcome to MovieCones</h1>
      <p>Explore our API and manage your movies effortlessly.</p>
      {% if access_token %}
      <div class="token">
          <strong>Your Bearer Token:</strong> <br>{{ access_token }}
      </div>
      {% else %}
      <p>You are not logged in. Please <a href="{{ url_for('web.login') }}">login</a> to access your token.</p>
      {% endif %}
    </div>
</body>

