<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies - MovieCones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>API Documentation</h1>
    <li><a href="{{ url_for('swagger_ui') }}">API Documentation</a></li>
    <h1>Movies</h1>
    <a href="{{ url_for('web.logout') }}">Logout</a>
    <ul>
        {% for movie in movies %}
            <li><a href="{{ url_for('web.movie_detail', movie_id=movie.id) }}">{{ movie.title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
