<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies - MovieCones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('web.home') }}">Home</a></li>
            <li><a href="{{ url_for('web.movies') }}">Movies</a></li>
            <li><a href="{{ url_for('swagger_ui') }}">API Documentation</a></li>
            <li><a href="{{ url_for('web.register') }}">Register</a></li>
            <li><a href="{{ url_for('web.login') }}">Login</a></li>
            <li><a href="{{ url_for('web.logout') }}">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Movies</h1>
        <ul class="movies">
            {% for movie in movies %}
                <li><a href="{{ url_for('web.movie_detail', movie_id=movie.id) }}">{{ movie.title }}</a></li>
            {% endfor %}
        </ul>
        <button class="logout" onclick="window.location.href='{{ url_for('web.logout') }}'">Logout</button>
    </div>
</body>
</html>
